<div class="col-xs-9">
  <h2>Users</h2>

  <table cellpadding="2" cellspacing="5"><tr>
	<th></th>
	<th>Name</th>
	<th></th>
	</tr>

	<% @Users.each do |book| %>
	  <tr>
		　　<td><a href=""><%= attachment_image_tag book, :profile_image, fallback: "no_image.png", class: "attachment user profile_image fallback index_image" %></a></td>
		  <td><%= book.name %></td>
		<td><%= link_to "Show", User_path %></td>
	  </tr>
	<% end %>
  </table>
</div>
</div>
</div>